.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
  }
  
  .grid-item {
    background-color: #ccc;
    padding: 20px;
    text-align: center;
  }
  

  .Fizz{
    background-color: brown;
  }

  .Buzz{
    background-color: blueviolet;
  }

  .FizzBuzz{
    background-color: darkgoldenrod;
  }

  .bg-number{
    background-color: darkcyan;
  }